
/* Write Awesome CSS here */

/* General stuff */
body {
  background-color:  #333;
}

p {
  font-size: 1.1em;
}

/* ID */

#Heading {
  font-family: Georgia;
  font-size: 3em;
  font-weight: bold;
}

#Nav-bar {
  width: 100%;
  text-align: left;
  padding: 25px;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}

#content-title {
  font-size: 2em;
  font-weight: bold;
}

#conten-info {
  text-align: left;
}

#content-info > p {
  font-family: Arial;
  font-size: 1.2em;
  color: #CCC;
}

#social-bar {
  background-color: #666;
}

#social-table {
  text-align: left;
  padding: 25px;
  color: #fff;
}

/* Classes */

.Container {
  max-width: 80%;
  margin: auto;
}

.Divider {
  width: 100%;
  background-color: #333;
  height: 10px;
}

.Header {
  max-width: 100%;
  height: auto;
  background-color: #fff;
  padding: 25px;
}

.Navigator {
  max-width: 100%;
  height: auto;
  background-color: #000;
  padding: 0px;
}

.Content {
  max-width: 100%;
  height: auto;
  background-color: #fff;
  padding: 25px;
}

.Content > p {
  font-family: Arial;
  font-size: 1em;
  color: #000;
}

.Footer {
  max-width: 100%;
  text-align: center;
  font-style: italic;
  height: auto;
  background-color: #fff;
  padding: 25px;
}
=======
